body {
    background-color: #EEEEEE;
}

p, span, div {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    line-height: 20px;
}

.container {
    width: 690px;
    background-color: white;
    padding: 40px;
    margin: 0 auto;
}

.comment {
    margin-bottom: 22px;
}

.comment .author-info {
    display: flex;
    align-items: center;
}

.comment .avatar {
    width: 38px;
    height: 38px;
    display: inline-block;
    background-color: gray;
    margin-right: 12px;
    border-radius: 50%;
}

.comment .name {
    font-weight: bold;
    margin: 0;
}

.comment .date {
    color: #A0A0A0;
    margin: 0;
}

.comment .text {
    margin: 1px 0 0 49px;
}

.comment .action .icon {
    color: #3072C4;
    margin-right: 4px;
}

.comment .action .description {
    color: #3072C4;
    text-decoration: none;
}

.comment .action:hover .description {
    text-decoration: underline;
    cursor: pointer;
}

.comment .actions {
    margin-top: 4px;
    margin-left: 50px;
    max-height: 0;
    visibility: collapse;
    transition: max-height;
    transition-duration: 300ms;
}

.comment:hover .actions {
    max-height: 20px;
    visibility: visible;
}

.comment .replies {
    margin-top: 14px;
    margin-left: 49px;
}

@media (max-width: 700px) {
    .container {
        width: 400px;
        padding: 20px;
    }
}