
.avatar {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 40px;
    margin-top: 40px;
    background: #C4C4C4;
    border-radius: 50%;

}
.comment_head{
    position: absolute;
    height: 20px;
    left: 90.07px;
    margin-top: 40px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 20px;
    color: #333333;

}
.time{
    height: 20px;
    left: 0px;
    margin-top: 0px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 20px;
    color: #A0A0A0;
}
.content-text{
    width: 640.87px;
    height: auto;
    right: 70.07px;
    margin-top: 0px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.button{
    width: 62px;
    height: 20px;
    margin-left: 18px;
    margin-top: -10px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 20px;
    color: #3072C4;
}

@media (max-width: 800px)
{
    .avatar {
        position: absolute;
        width: 17px;
        height: 17px;
        left: 20px;
        margin-top: 20px;
        background: #C4C4C4;
        border-radius: 50%;

    }
    .comment_head{
        position: absolute;
        height: 10px;
        left: 90.07px;
        margin-top: 20px;
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 20px;
        color: #333333;

    }
    .time{
        height: 20px;
        left: 0px;
        margin-top: 0px;
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 20px;
        color: #A0A0A0;
    }
    .content-text{
        width: 640.87px;
        height: auto;
        right: 70.07px;
        margin-top: 0px;
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
    .button{
        width: 62px;
        height: 20px;
        margin-left: 18px;
        margin-top: -10px;
        font-family: Segoe UI;
        font-size: 14px;
        line-height: 20px;
        color: #3072C4;
    }

}